{% load i18n %}
{% load gravatar %}
{% load markup %}

<ul class="alt entrylist">
	{% for entry in entries %}
	<li style="border-bottom: none;">
		<img src="{% gravatar_for_user entry.author.user %}" alt="gravatar" class="avatar"/>
		<a href="{% url wididit:web:people entry.author %}" class="author people">
			{{ entry.author.username }}<span class="hostname">@{{ entry.author.server.hostname }}</span>
		</a>
		<h3><a href="{% url wididit:web:entry entry.author entry.entryid %}">{{ entry.title }}</a></h3><br />
		<div style="white-space: pre-wrap; font-family: monospace;">{{ entry.summary }}</div>
		<div class="entryend"></div>
	</li>
	{% endfor %}
</ul>
