{# Display the home page. #}
{% extends "wididitserver/base.html" %}
{% load i18n %}

{% block body %}
	<ul class="tabs" id="body">
		<li><a href="#timeline">{% trans "Timeline" %}</a></li>
		{% if request.user.is_authenticated %}<li><a href="#post">{% trans "Post" %}</a></li>{% endif %}
	</ul>
	<div style="clear: both"></div>
	<div id="timeline" class="tab-content">
		{% include "wididitserver/entrylist.html" %}
	</div>
	<div id="post" class="tab-content">
		<form action="{% url wididit:web:post %}" method="post">
			{% csrf_token %}
			<input id="rights" name="rights" type="hidden" value="{{ post_form.rights.value }}" />
			<input id="subtitle" name="subtitle" type="hidden" value="{{ post_form.subtitle.value }}" />
			<label for="title">{% trans "Title:" %}</label>
			<input id="title" name="title" placeholder="{% trans "A title for your entry." %}" type="text" />

			<label for="content">{% trans "Content:" %}</label>
			<textarea id="content" name="content" placeholder="{% trans "Your content" %}"></textarea>
			<input type="submit" id="post" name="post" value="{% trans "Post" %}" />
			<input type="submit" id="preview" name="preview" value="{% trans "Preview / full editor" %}" />
		</form>
	</div>
{% endblock %}
