{# Display the home page. #}
{% extends "wididitserver/base.html" %}
{% load i18n %}

{% block body %}
	<ul class="tabs" id="body">
		<li><a href="#timeline">{% trans "Timeline" %}</a></li>
		{% if request.user.is_authenticated %}<li><a href="#post">{% trans "Post" %}</a></li>{% endif %}
	</ul>
	<div style="clear: both"></div>
	{{ foo }}
	<div id="timeline" class="tab-content">
		{% include "wididitserver/entrylist.html" %}
	</div>
	<div id="post" class="tab-content">
		<form action="{% url wididit:web:post %}" method="post">
			{{ post_form.as_p }}
		<button type="submit">{% trans "Post" %}</button>
		</form>
	</div>
{% endblock %}
