#body {
	clear: both;
}
#nav {
	clear: both;
}
@-moz-document url-prefix() { /* Target only Gecko. This code makes links unclickable on Chromium. */
	.menu li {
		z-index: -1; /* Fix bug with Gecko */
	}
}

ul.entrylist li .entryend, .fullentry .entryend {
	clear: both;
}
ul.entrylist li .avatar, .fullentry .avatar {
	float: right;
	margin: 5px;
}
ul.entrylist li .author, .fullentry .author {
	float: right;
}
ul.entrylist li .author .hostname, .fullentry .author .hostname {
	display: none;
}
ul.entrylist li .author:hover .hostname, .fullentry .author:hover .hostname {
	display: inline;
}
