#body {
	clear: both;
}
#nav {
	clear: both;
}
@-moz-document url-prefix() { /* Target only Gecko. This code makes links unclickable on Chromium. */
	.menu li {
		z-index: -1; /* Fix bug with Gecko */
	}
}
